<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingredient Detection and Recipe Recommendation</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <div class="navbar">
            <div class="logo">FeasTapp</div>
            <div class="menu">
                <a href="{{ url_for('main') }}">HOME</a>
                <a href="http://127.0.0.1:5001">SCAN</a>
                <a href="http://127.0.0.1:5000">CHATBOT</a>
            </div>
        </div>
    </nav>

    <div class="slideshow-container">
        <div class="slide fade">
            <img src="{{ url_for('static', filename='img/dish1.png') }}" style="width:100%">
        </div>
        <div class="slide fade">
            <img src="{{ url_for('static', filename='img/background-image.jpg') }}" style="width:100%">
        </div>
        <div class="slide fade">
            <img src="{{ url_for('static', filename='img/facebook.png') }}" style="width:100%">
        </div>
    </div>

    <div id="wefav">
        <h1>Weekly Favorites</h1>
        <div class="favorites-container">
            <!-- Insert your favorite dish images here -->
            <img src="{{ url_for('static', filename='img/fave1.jpg') }}" alt="Favorite Dish 1">
            <img src="{{ url_for('static', filename='img/fave2.jpg') }}" alt="Favorite Dish 2">
            <img src="{{ url_for('static', filename='img/fave3.jpg') }}" alt="Favorite Dish 3">
            <!-- More images can be added here -->
        </div>
        <button class="see-more">See More</button>
    </div>
    
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
