<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingredient Detection and Recipe Recommendation</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('serve_static', path='css/main.css') }}">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <div class="nav-brand">FeasTapp</div>
        <ul class="nav-links">
            <li><a href="/scan/templates/main/main.html">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="http://127.0.0.1:5001">Scan</a></li>
            <li><a href="http://127.0.0.1:5000">Chatbot</a></li>
            <div class="dropdown">
                <button class="dropbtn">
                    <i class="fas fa-bars"></i> <!-- FontAwesome icon for menu -->
                </button>
                <div class="dropdown-content">
                    <a href="#profile">User Profile</a>
                    <a href="#settings">Settings</a>
                    <a href="#logout">Logout</a>
                </div>
            </div>
        </ul>

        
    </nav>
    
    <div class="slideshow-container">
        <div class="slide fade">
            <img src="/img/dish1.png" style="width:100%">
        </div>
        <div class="slide fade">
            <img src="/img/background-image.jpg" style="width:100%">
        </div>
        <div class="slide fade">
            <img src="/img/facebook.png" style="width:100%">
        </div>
    </div>

    <div id="wefav">
        <h1>Weekly Favorites</h1>
        <div class="favorites-container">
            <!-- Insert your favorite dish images here -->
            <img src="/img/fave1.jpg" alt="Favorite Dish 1">
            <img src="/img/fave2.jpg" alt="Favorite Dish 2">
            <img src="/img/fave3.jpg" alt="Favorite Dish 3">
            <!-- More images can be added here -->
        </div>
        <button class="see-more">See More</button>
    </div>
    
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
