body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #121212;
    color: #fff;
    height: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.menu a {
    color: white;
    padding: 10px;
    text-decoration: none;
}

.chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.chat-area {
    text-align: center;
    padding: 20px;
    background-color: #1a1a1a;
    width: 50%;
    margin: auto;
    border-radius: 10px;
}

.chat-logo {
    width: 100px;
}

.welcome-message {
    font-size: 20px;
    margin-top: 20px;
}

.message-box {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.message-box input {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    color: #000;
}

.message-box button {
    padding: 10px 20px;
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 10px;
    background-color: #ffffff;
}

.message-box button:hover {
    background-color: #007BFF;
    ;
}

#get-started-btn{
    padding: 10px 20px;
    margin: 5px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    transition: background-color 0.3s;
}

#get-started-btn:hover{
    background-color: #45a049;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 10px;
    height: 400px;
}

.message {
    max-width: 80%;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    color: white;
    font-size: 14px;
    text-align: left;
}

.user-message {
    align-self: flex-end;
    background-color: #007BFF;
    border-top-right-radius: 0;
}

.bot-response {
    align-self: flex-start;
    background-color: #34B7F1;
    border-top-left-radius: 0;
}

.button-options {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.button-option {
    padding: 10px 20px;
    margin: 5px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    transition: background-color 0.3s;
}

.button-option:hover {
    background-color: #45a049;
}
